<div class="row">

    <%{volist name="lists" id="list_group"}%>
    <%{php}%>$flag_key = $key;<%{/php}%>
    <div class="col-md-6">
        <div class="box <%{if condition="ord(substr($key,0,1)) % 2 == 1"}%>box-info<%{else/}%>box-danger<%{/if}%>">
            <div class="box-header with-border">
                <h3 class="box-title"><b><%{$key}%></b></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="list-group margin-bottom-none index-bulletin">
                    <form action="" class="form-horizontal" id="<%{$key}%>">
                        <%{volist name="list_group" id="item"}%>
                        <div class="form-group" data-toggle="tooltip" title="<%{$item.description}%>">
                            <label class="col-sm-3 control-label"><%{$item.name}%></label>
                            <div class="col-sm-7">
                                <%{if condition="$item.type EQ 'text'"}%>
                                    <input type="text" name="<%{$item.key}%>" value="<%{$item.value}%>" placeholder="<%{$item.description}%>" class="form-control">
                                <%{/if}%>

                                <%{if condition="$item.type EQ 'select'"}%>
                                    <select name="<%{$item.key}%>" class="form-control select2" style="width: 100%;">
                                        <option value="">--请选择--</option>
                                        <%{volist name="$item.select_items" id="radio"}%>
                                            <option value="<%{$radio.value}%>"<%{if condition="$radio.value EQ $item.value"}%> selected="selected"<%{/if}%>><%{$radio.name}%></option>
                                        <%{/volist}%>
                                    </select>
                                <%{/if}%>

                                <%{if condition="$item.type EQ 'textarea'"}%>
                                    <textarea name="<%{$item.key}%>" rows="3" placeholder="<%{$item.description}%>" class="form-control"><%{$item.value}%></textarea>
                                <%{/if}%>

                            </div>
                        </div>
                        <%{/volist}%>
                    </form>
                </div>
            </div>
            <div class="box-footer clearfix">
                <div class="col-sm-12 text-right">
                    <button type="button" class="btn btn-info btn-save" data-flag="<%{$flag_key}%>">提交</button>
                </div>
            </div>
        </div>
    </div>
    <%{/volist}%>

</div>
