body {
    font-family: "lucida Grande","Microsoft YaHei","PingFang SC","Helvetica Neue","Helvetica","Hiragino Sans GB","Arial","sans-serif";
}
.content-header>h1 {font-size: 19px;}
.content-header>h1>small {font-size: 13px;}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {font-size:15px;}

.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}
.box {margin-bottom: 10px;box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);}
.box-min {min-height: 505px;}
.select2 {width: 100%;}

/*侧边栏1级导航下划线*/
.sidebar-menu>li{border-bottom: 1px solid #141a1d;}
.treeview-menu {padding-bottom: 4px;}
.treeview-menu>li {font-size:13px;padding:4px 0 2px;}
.treeview-menu>li a {font-size:13px;}

/**
 * 列表中排序字段的input框
 */
.list-sort-input {
    display: inline-block;
    vertical-align: middle;
    border:1px solid #d2d6de;
    max-width: 55px;
    height: 28px;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    outline: none;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
}
.list-sort-input:focus {
    background-color:#ffffee;
}

.dl-horizontal dd {margin-top:8px;margin-bottom: 8px;}

.btn-upload-file {position: relative;overflow: hidden;display: inline-block;}
.btn-upload-file  input {position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px !important;direction: ltr;cursor: pointer;}


.btn-box-tool {box-shadow: none !important;}


#dropdown-menu-dept {width:auto;min-width:160px;max-width:360px;margin-top:3px;border-radius: 2px;box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22);}
#dropdown-menu-dept:before {
    position: absolute;
    top: -7px;
    right: 12px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eee;
    border-left: 6px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 1);
    content: '';
}
#dropdown-menu-dept>li>a {
    padding:7px 15px;
    color:#555;
}
#dropdown-menu-dept>li>a.active {background-color:#e1e3e9;color:#333;}
#dropdown-menu-dept>li>a:hover {background-color:#e1e3e9;color:#333;}


.alert, .badge, .btn, .btn-group>.btn, .btn.btn-link:hover, .icon-btn, .label, .list-group1, .md-shadow-z-1, .note, .panel, .social-icons li>a, .social-icons.social-icons-color>li>a, .well {box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);}

.alert-danger{
    background-color: #fbe1e3 !important;
    border-color: #fbe1e3;
    color: #e73d4a !important;
}

.btn-green {color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.btn {box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);}
.btn-circle {
    color: #666;
    background-color: #fff;
    border-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}
.btn:hover {
    box-shadow:0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.26)
}

.btn-default,.btn-default:hover,.btn-default:focus  {background-color: #fff;border-color: #fafafa;}
.main-footer .version {color:#ccc;}

/**
 * upload corper
 */
#image_cut_container {width: 100%;position: relative;}
#image_cut_preview {width: 100%;}
#cut {width: 100%;height: 100%;overflow: hidden;}
#_File {display: none;}
#image_cut_uploader {margin-top:20px;text-align: center;}
#image_cut_uploader p {margin:20px auto;font-size:13px;}

/**
 * upload-container btn
 */
.upload-container {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor:default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.upload-container .upload
{
    display: inline-block;
    background: url(../images/icon-plus.png) no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: relative;
}
.upload-container input[type=file] {position:absolute;top:0;right:0;margin:0;border:solid transparent;width:100%;height:100%;opacity:0;cursor:pointer}

/**
 * 上传进度条
 */
#dm-uploader-filename {
    margin-bottom: 7px;
    font-size:12px;
}
#dm-uploader-percent-container {
    overflow: hidden;
    font-size: 13px;
    height: 22px;
    text-align: center;
    background-color: #e9ecef;
    border-radius: 3px;
    width: 100%;
}
.dm-uploader-percent {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-color: #007bff;
    height:22px;
}
.columns-checkbox {margin-bottom: 0;margin-top:0;padding-left:25px;}