<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title><%{$title|default="COM组件系统"}%></title>
<meta name="keywords" content="<%{$keywords|default=""}%>" />
<meta name="description" content="<%{$description|default=""}%>" />
<link href="__PUBLIC__/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/select2/css/select2.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/AdminLTE/css/AdminLTE.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/datatables/extensions/FixedColumns/css/fixedColumns.dataTables.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/datatables/extensions/FixedColumns/css/fixedColumns.bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/zTree/css/bootstrapStyle/bootstrapStyle.css" rel="stylesheet">
<link href="__PUBLIC__/plugin/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/common.css?ver=<%{:config('local.version')}%>" rel="stylesheet">
<%{if condition="!empty($load_layout_css)" }%><%{/* 使用 `小写控制器名/小写操作.css` 作为应用额外载入css，启用这个特性在action中assign出$load_layout_css变量为true即可 */}%>
<link href="__PUBLIC__/css<%{:url(null,'','')}%>.css?ver=<%{:config('local.version')}%>" rel="stylesheet">
<%{/if}%>
<script>
    var app_info = {
        module:'<%{:strtolower(request()->module())}%>',
        controller:'<%{:strtolower(request()->controller())}%>',
        action:'<%{:strtolower(request()->action())}%>'
    };
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini" id="app">
<div class="wrapper">
<header class="main-header">
    <a class="logo" href="/manage"><span class="logo-mini">COM</span><span class="logo-lg"><b><%{:config('local.site_name')}%></b>管理平台</span></a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">隐藏/显示侧边栏</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="__IMG__/default_avatar.jpg" class="user-image" alt="用户figure">
                        <span class="hidden-xs">
                            <%{if condition="!empty(session('user_info.is_root'))"}%>
                                <i class="fa fa-street-view"></i>
                            <%{/if}%>
                            <%{:session('user_info.real_name')}%>
                        </span>
                        <span class="hidden-xs"><%{:session('user_info.username')}%></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="__IMG__/default_avatar.jpg" class="img-circle" alt="User Image">
                            <p>
                                <%{if condition="!empty(session('user_info.is_root'))"}%>
                                    <i class="fa fa-street-view"></i>
                                <%{/if}%>
                                <%{:session('user_info.real_name')}%>
                                <small style="font-size:13px;">[<%{:session('user_info.role_name')}%>]</small>
                                <small><%{:session('user_info.update_time')}%></small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="<%{:url('manage/mine/profile')}%>" class="btn btn-default">个人中心</a>
                            </div>
                            <div class="pull-right">
                                <a href="<%{:url('manage/site/logout')}%>" class="btn btn-default">注销</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="<%{:url('manage/site/logout')}%>" title="退出登录"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </nav>
</header>