
<form class="form-horizontal" id="add" action="/task/fapengyouquan">

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">第一步：选择执行任务的设备</h4>
            </div>
            <div class="box-body">
                <div id="treeDemo" class="ztree" style="padding-left:25px;"></div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">第二步：朋友圈内容配置</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">朋友圈内容类型：</label>
                    <div class="col-sm-8">
                        <div class="btn-group js-select-container select-type">
                            <button type="button" class="btn btn-white btn-primary" data-val="picture">图片和文字</button>
                            <button type="button" class="btn btn-white" data-val="video">视频和文字</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">素材管理：</label>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary btn-block" id="btn-resource"><i class="fa fa-search"></i> 点击从素材库选择</button>
                            </div>
                            <div class="col-xs-6">
                                <div class="uploader btn btn-danger btn-block btn-upload-file" id="uploader">
                                    <i class="fa fa-upload"></i>
                                    <span>点击上传临时素材</span>
                                    <input type="file" id="FileUpload" name="FileUpload" multiple="multiple" title="点击上传临时素材">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="preview" style="padding:15px;border:1px solid #eee;margin:0;display: none;">
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/4b05977b07967d264d6412c14504e7c6.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/b24d065a472dc25bcd086a301552f372.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/b20754341d3234908a9e0c0ca412acbb.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/4b05977b07967d264d6412c14504e7c6.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/b24d065a472dc25bcd086a301552f372.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/b20754341d3234908a9e0c0ca412acbb.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/4b05977b07967d264d6412c14504e7c6.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<a href="">-->
                            <!--<img src="http://manage.yunkong.com/upload/resource/201801/b24d065a472dc25bcd086a301552f372.jpg">-->
                        <!--</a>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-4 col-xs-12 thumbnail img-friends">-->
                        <!--<video height="160" controls="" style="background-color:#000;"><source src="http://manage.yunkong.com/upload/resource/201801/7e8c289e4a9c4e2a7b95553d33d6784a.mp4" type="video/mp4">你的浏览器不支持 HTML5 video.</video>-->
                        <!--<i class="fa fa-close"></i>-->
                    <!--</div>-->
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                        <button type="button" id="select-message-btn" class="btn btn-primary btn-block">点击从话术库选择朋友圈内容</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">朋友圈内容：</label>
                    <div class="col-sm-8">
                        <textarea id="words" class="form-control" name="Task[words]" rows="4" placeholder="输入朋友圈文本内容正文，或点击上方按钮从话术库选择；可使用emoji表情字符"></textarea>
                    </div>
                </div>
                <div class="form-group tips">
                    <label class="col-sm-3 control-label">评论内容1：</label>
                    <div class="col-sm-8">
                        <textarea id="comments1" class="form-control" name="Task[comments1]" placeholder="朋友圈的第一条评论内容，不需要评论则留空" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group tips">
                    <label class="col-sm-3 control-label">评论内容2：</label>
                    <div class="col-sm-8">
                        <textarea id="comments2" class="form-control" name="Task[comments2]" placeholder="朋友圈的第二条评论内容，不需要评论则留空" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务备注：</label>
                    <div class="col-sm-8">
                        <input type="text" id="remark" class="form-control" name="Task[remark]" placeholder="任务备注，方便管理员识别，可选">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务开始时间：</label>
                    <div class="col-sm-8">
                        <input type="text" id="begin_time" class="form-control" name="Task[begin_time]" placeholder="设定任务开始执行的时间，可手动编辑">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">启动控制：</label>
                    <div class="col-sm-8">
                        <div class="btn-group js-select-container select-run-tag" data-placeholder="默认自动启动即可，手动则需在任务列表中进行启动操作">
                            <button type="button" class="btn btn-white btn-primary" data-val="0">自动启动</button>
                            <button type="button" class="btn btn-white" data-val="-1">手动启动</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12"><button type="submit" class="btn btn-success btn-block btn-submit">提交新建任务</button></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="MessageModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;overflow-y: auto!important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roomModalLabel">选择发朋友圈内容</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group search-control">
                            <input type="text" class="form-control" id="search-message" placeholder="输入关键词检索话术" value="" autocomplete="off" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" id="TableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script type="text/html" id="modal_table_tpl">
    <table class="table table-bordered table-hover" id="MessageTable" style="width:100%;">
        <thead>
        <tr>
            <th data-priority="1">话术内容</th>
            <th style="text-align: center;padding-right: 0;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var n in messages) {
        var message = messages[n];
        %>
        <tr data-id='<%=message.id%>' data-message=<%=message.message%>>
            <td><%=message.message%></td>
            <td style="text-align: center;"><button class="btn btn-xs btn-info select_message"><i class="fa fa-plus" title="点击添加"></i></button></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>


<div class="modal fade" id="ResourceModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;overflow-y: auto!important;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">选择素材</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group search-control">
                            <input type="text" class="form-control" id="resource-message" placeholder="输入关键词、标签检索" value="" autocomplete="off" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" id="Container1">
                        <!--<div class="col-sm-4 col-xs-12 thumbnail resource-list">-->
                            <!--<a href="">-->
                                <!--<img src="http://manage.yunkong.com/upload/resource/201801/b20754341d3234908a9e0c0ca412acbb.jpg">-->
                            <!--</a>-->
                            <!--<p>明显</p>-->
                            <!--<i class="fa fa-square-o"></i>-->
                        <!--</div>-->
                        <!--<div class="col-sm-4 col-xs-12 thumbnail resource-list">-->
                            <!--<a href="">-->
                                <!--<img src="http://manage.yunkong.com/upload/resource/201801/b20754341d3234908a9e0c0ca412acbb.jpg">-->
                            <!--</a>-->
                            <!--<p>明显</p>-->
                            <!--<i class="fa fa-square-o"></i>-->
                        <!--</div>-->
                        <!--<div class="col-sm-4 col-xs-12 thumbnail resource-list">-->
                            <!--<a href="">-->
                                <!--<img src="http://manage.yunkong.com/upload/resource/201801/b20754341d3234908a9e0c0ca412acbb.jpg">-->
                            <!--</a>-->
                            <!--<p>明显</p>-->
                            <!--<i class="fa fa-square-o"></i>-->
                        <!--</div>-->
                        <!--<div class="col-sm-4 col-xs-12 thumbnail resource-list">-->
                            <!--<video height="160" controls="" style="background-color:#000;"><source src="http://manage.yunkong.com/upload/resource/201801/7e8c289e4a9c4e2a7b95553d33d6784a.mp4" type="video/mp4">你的浏览器不支持 HTML5 video.</video>-->
                            <!--<p>明显</p>-->
                            <!--<i class="fa fa-square-o"></i>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    var device_tree = <%{:json_encode($device_tree)}%>;
</script>