<form class="form-horizontal" id="add" action="/task/HuLiaoNeiRong">
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">第一步：选择执行任务的设备</h4>
            </div>
            <div class="box-body">
                <div id="treeDemo" class="ztree" style="padding-left:25px;"></div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">互聊内容下发</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">设置互聊内容：</label>
                    <div class="col-sm-8">
                        <button class="btn btn-primary btn-block" type="button" id="select-friends-btn">点击选择互聊内容</button>
                    </div>
                </div>
                <div id="friends_area" style="border:1px solid #3c8dbc;margin-bottom: 10px;padding-top: 10px;display: none;">

                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注信息：</label>
                    <div class="col-sm-8">
                        <textarea id="remark" rows=3 class="form-control" name="Task[remark]" placeholder="备注信息，便于管理员识别，可选"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务开始时间：</label>
                    <div class="col-sm-8">
                        <input type="text" id="begin_time" class="form-control" name="Task[begin_time]" placeholder="设定任务开始执行的时间，可手动编辑">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">启动控制：</label>
                    <div class="col-sm-8">
                        <div class="btn-group js-select-container select-run-tag" data-placeholder="默认自动启动即可，手动则需在任务列表中进行启动操作">
                            <button type="button" class="btn btn-white btn-primary" data-val="0">自动启动</button>
                            <button type="button" class="btn btn-white" data-val="-1">手动启动</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-success btn-block btn-submit">提交新建任务</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div class="modal fade" id="MessageModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;overflow-y: auto!important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roomModalLabel">检索互聊内容(一次最多显示1000条)</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="chat_group" id="chat_group" class="form-control">
                                <option value="">--选择互撩分组--</option>
                                <%{volist name="chat_group" id="grp"}%>
                                    <option value="<%{$grp.id}%>"><%{$grp.name}%></option>
                                <%{/volist}%>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group search-control">
                            <input type="text" class="form-control" id="search-message" placeholder="输入互聊内容或备注检索" value="" autocomplete="off" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" id="TableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="modal_table_tpl">
    <table class="table table-bordered table-hover" id="MessageTable" style="width:100%;">
        <thead>
        <tr>
            <th data-priority="1">发出</th>
            <th data-priority="2">回复</th>
            <th style="text-align: center;padding-right: 0;cursor: pointer;" id="select_all">双击击选择全部</th>
        </tr>
        </thead>
        <tbody>
        <% for(var n in chats) {
        var chat = chats[n];
        %>
        <tr data-send="<%=chat.send%>" data-reply="<%=chat.reply%>" class="item_tr">
            <td><%=chat.send%></td>
            <td><%=chat.reply%></td>
            <td style="text-align: center;"><button class="btn btn-xs btn-info select_friend"><i class="fa fa-plus" title="点击添加"></i></button></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>
<script>
    var device_tree = <%{:json_encode($device_tree)}%>;
</script>