<form class="form-horizontal" id="add" action="/task/KanDingYue">
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">第一步：选择执行任务的设备</h4>
            </div>
            <div class="box-body">
                <div id="treeDemo" class="ztree" style="padding-left:25px;"></div>
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">第二步：配置任务参数</h4>
            </div>
            <div class="box-body">
                <div class="form-group tips">
                    <label class="col-sm-3 control-label">随机看公众号下限：</label>
                    <div class="col-sm-8">
                        <input type="number" id="gzh_num_start" class="form-control" name="Task[gzh_num_start]" placeholder="随机看公众号个数的下限，最小值：1个">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">随机看公众号上限：</label>
                    <div class="col-sm-8">
                        <input type="number" id="gzh_num_end" class="form-control" name="Task[gzh_num_end]" placeholder="随机看公众号个数的上限，最大值：5个">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">看公众号文章下限：</label>
                    <div class="col-sm-8">
                        <input type="number" id="gzh_file_num_start" class="form-control" name="Task[gzh_file_num_start]" placeholder="一个公众号随机看的文章数的下限，最大值：1条">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">看公众号文章上限：</label>
                    <div class="col-sm-8">
                        <input type="number" id="gzh_file_num_end" class="form-control" name="Task[gzh_file_num_end]" placeholder="一个公众号随机看的文章数的上限，最大值：3条">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务备注：</label>
                    <div class="col-sm-8">
                        <input type="text" id="remark" class="form-control" name="Task[remark]" placeholder="任务备注，方便管理员识别，可选">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">任务开始时间：</label>
                    <div class="col-sm-8">
                        <input type="text" id="begin_time" class="form-control" name="Task[begin_time]" placeholder="设定任务开始执行的时间，可手动编辑">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">启动控制：</label>
                    <div class="col-sm-8">
                        <div class="btn-group js-select-container select-run-tag" data-placeholder="默认自动启动即可，手动则需在任务列表中进行启动操作">
                            <button type="button" class="btn btn-white btn-primary" data-val="0">自动启动</button>
                            <button type="button" class="btn btn-white" data-val="-1">手动启动</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12"><button type="submit" class="btn btn-success btn-block btn-submit">提交新建任务</button></div>
                </div>
            </div>
        </div>

    </div>
</div>
</form>
<script>
    var device_tree = <%{:json_encode($device_tree)}%>;
</script>