<div class="row">
    <div class="col-md-12">

        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="has-feedback">
                                    <input id="txt_search" type="text" class="form-control" placeholder="手机编号、任务备注、所属用户">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input readonly id="search_begin_date" data-key="search_begin_date" type="text" class="form-control pull-right search_date" placeholder="任务执行开始过滤时间">
                                    <div class="input-group-addon clear-begin-data" style="cursor: pointer;">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input readonly id="search_end_date" data-key="search_end_date" type="text" class="form-control pull-right search_date" placeholder="任务执行结束过滤时间">
                                    <div class="input-group-addon clear-end-data" style="cursor: pointer;">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="btn-group" id="task_status">
                            <button type="button" class="btn btn-primary active">执行状态</button>
                            <button type="button" class="btn btn-default" data-status="-1">未启动</button>
                            <button type="button" class="btn btn-default" data-status="0">待执行</button>
                            <button type="button" class="btn btn-default" data-status="1">执行中</button>
                            <button type="button" class="btn btn-default" data-status="2">执行完毕</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <select name="task_type" id="task_type" class="form-control select2">
                            <option value="">--任务类型--</option>
                            <%{volist name="task_type" id="type"}%>
                            <%{if condition="in_array($type.url,$task_menus)"}%>
                            <option value="<%{$type.id}%>"><%{$type.name}%></option>
                            <%{/if}%>
                            <%{/volist}%>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="btn-group pull-right">
                            <a href="<%{:url('task/create')}%>" class="btn btn-primary"><i class="fa fa-plus"></i> 新建任务</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-primary">
            <!--<div class="box-header with-border">-->
            <!--<h4 class="box-title">部门列表</h4>-->
            <!--</div>-->
            <div class="box-body">
                <table id="mainTable" data-order='[[ 3, "asc" ]]' class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-priority="1" data-orderable="false">手机编号</th>
                        <th data-priority="4" data-orderable="false">类型</th>
                        <th data-priority="5" data-orderable="false">状态</th>
                        <th data-priority="6">开始时间</th>
                        <th data-priority="7">结束时间</th>
                        <th data-priority="8">创建时间</th>
                        <th data-priority="9" data-orderable="false">归属用户</th>
                        <th data-priority="10" data-orderable="false">备注</th>
                        <th data-priority="3" data-orderable="false">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <!--<div class="box-footer">-->

            <!--</div>-->
        </div>
    </div>
</div>