<form class="form-horizontal" id="add" action="/task/qunfaxiaoxi">
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">群发消息</h4>
            </div>
            <div class="box-body">
                <div class="form-group" id="device-group">
                    <label class="col-sm-2 control-label">设备所属分组：</label>
                    <div class="col-sm-5">
                        <select name="Task[device-group-id]" id="device-group-id" class="form-control select2">
                            <option value="">--选择设备分组--</option>
                            <%{volist name="device_type" id="item"}%>
                                <option value="<%{$item.id}%>"><%{$item.name}%></option>
                            <%{/volist}%>
                            <option value="none">未分组</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="device">
                    <label class="col-sm-2 control-label">设备：</label>
                    <div class="col-sm-5">
                        <select name="Task[device-id]" id="device-id" class="form-control select2">
                            <option value="">--选择执行任务的设备--</option>
                        </select>
                    </div>
                </div>

                <div class="form-group tips">
                    <label class="col-sm-2 control-label">内容随机间隔下限：</label>
                    <div class="col-sm-5">
                        <input type="number" id="send_period_start" class="form-control" name="Task[send_period_start]" placeholder="多条互聊内容发送的随机间隔时间下限，单位：毫秒">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">内容随机间隔上限：</label>
                    <div class="col-sm-5">
                        <input type="number" id="send_period_end" class="form-control" name="Task[send_period_end]" placeholder="多条互聊内容发送的随机间隔时间上限，单位：毫秒">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">好友随机间隔下限：</label>
                    <div class="col-sm-5">
                        <input type="number" id="person_period_start" class="form-control" name="Task[person_period_start]" placeholder="多个好友开始互聊的随机间隔时间下限，单位：毫秒">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">好友随机间隔上限：</label>
                    <div class="col-sm-5">
                        <input type="number" id="person_period_end" class="form-control" name="Task[person_period_end]" placeholder="多个好友开始互聊的随机间隔时间上限，单位：毫秒">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注信息：</label>
                    <div class="col-sm-5">
                        <textarea id="remark" rows=3 class="form-control" name="Task[remark]" placeholder="备注信息，便于管理员识别，可选"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">任务开始时间：</label>
                    <div class="col-sm-5">
                        <input type="text" id="begin_time" class="form-control" name="Task[begin_time]" placeholder="设定任务开始执行的时间，可手动编辑">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">启动控制：</label>
                    <div class="col-sm-5">
                        <div class="btn-group js-select-container select-run-tag" data-placeholder="默认自动启动即可，手动则需在任务列表中进行启动操作">
                            <button type="button" class="btn btn-white btn-primary" data-val="0">自动启动</button>
                            <button type="button" class="btn btn-white" data-val="-1">手动启动</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">设置群发对象：</label>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-primary btn-block" type="button" id="select-friends-btn" data-placeholder="精确检索并逐一选取所需群发对象微信账号">
                                    精确选取群发对象
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-primary btn-block" type="button" id="select-friends-btn1" data-placeholder="指定好友编号范围选取群发对象">
                                    分批选取群发对象
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="friends_area" style="border:1px solid #3c8dbc;margin-bottom: 10px;padding-top: 10px;display: none;">

                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label">设置群发内容：</label>
                    <div class="col-sm-5">
                        <div class="input-group input-new-chat-area">
                            <input type="text" class="form-control" id="new-chat" placeholder="输入群发内容，点击后方按钮添加多条" value="" autocomplete="off" />
                            <span class="input-group-addon" style="cursor: pointer;" id="new-chat-btn">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="chat_area" style="border:1px solid #3c8dbc;margin-bottom: 10px;padding-top: 10px;display: none;">

                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-success btn-block btn-submit">提交新建任务</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div class="modal fade" id="MessageModal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;overflow-y: auto!important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roomModalLabel">检索群发对象</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group search-control">
                            <input type="text" class="form-control" id="search-chat" placeholder="检索昵称或微信账号备注" value="" autocomplete="off" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" id="TableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2" tabindex="-1" role="basic" aria-hidden="true" style="display: none;overflow-y: auto!important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ModalLabel">群发对象规则</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>按编号范围设置群发对象，所有好友都有从1开始的编号值，设置编号起始值系统将自动抓取两个值范围（包含）内的好友。</p>
                        <p id="num-des" style="font-weight: bold;"></p>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group search-control1">
                            <input type="number" class="form-control" id="num_start" placeholder="好友编号开始值" value="" autocomplete="off" />
                            <input type="number" class="form-control" id="num_stop" placeholder="好友编号结束值" value="" autocomplete="off" />
                            <span class="input-group-addon" style="cursor: pointer;" id="init-num-friends">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="modal_table_tpl">
    <table class="table table-bordered table-hover" id="MessageTable" style="width:100%;">
        <thead>
        <tr>
            <th data-priority="1">wx_id</th>
            <th data-priority="1">昵称</th>
            <th data-priority="4">备注名</th>
            <th style="text-align: center;padding-right: 0;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var n in friends) {
        var friend = friends[n];
        %>
        <tr data-wxid='<%=friend.account%>' data-friend=<%=friend.nick_name%>>
            <td><%=friend.account%></td>
            <td><%=friend.nick_name%></td>
            <td><%=friend.remark_name%></td>
            <td style="text-align: center;"><button class="btn btn-xs btn-info select_friend"><i class="fa fa-plus" title="点击添加"></i></button></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>

<script type="text/html" id="modal_table_tpl1">
    <table class="table table-bordered table-hover" id="ChatTable" style="width:100%;">
        <thead>
        <tr>
            <th data-priority="1">发出内容</th>
            <th style="text-align: center;padding-right: 0;">操作</th>
        </tr>
        </thead>
        <tbody>
        <% for(var n in chats) {
        var chat = chats[n];
        %>
        <tr data-send='<%=chat.send%>'>
            <td><%=chat.send%></td>
            <td style="text-align: center;"><button class="btn btn-xs btn-info select_chat"><i class="fa fa-plus" title="点击添加"></i></button></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>
<script>
    var devices = <%{:json_encode($devices)}%>;
</script>