

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">业态部门信息</h4>
            </div>
            <form action="<%{:url('mine/departmentcreate')}%>" class="form-horizontal" id="departmentAdd">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">业态名称：</label>
                        <div class="col-sm-5"><input type="text" id="name" class="form-control" name="Dept[name]" placeholder="业态名称或部门名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门排序：</label>
                        <div class="col-sm-5">
                            <input type="number" id="sort" class="form-control" name="Dept[sort]" placeholder="自定义排序，大于0的整数，数字越小越靠前">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注信息：</label>
                        <div class="col-sm-5">
                            <textarea id="remark" rows=3 class="form-control" name="Dept[remark]" placeholder="对该部门的备注信息"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-5"><button type="submit" class="btn btn-success pull-right btn-submit">新增</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
