<div class="row">
    <div class="col-md-6">
        <div class="box box-primary box-min">
            <div class="box-header with-border">
                <h4 class="box-title">账户信息</h4>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-primary box-min">
            <div class="box-header with-border">
                <h4 class="box-title">人事信息</h4>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
</div>
