

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">子账号信息</h4>
            </div>
            <form action="<%{:url('mine/usercreate')}%>" class="form-horizontal" id="userAdd" autocomplete="off">
                <div class="box-body">

                    <div class="form-group" id="level2_container">
                        <label class="col-sm-2 control-label">所属业态：</label>
                        <div class="col-sm-5">
                            <select name="User[dept_id2]" id="dept_id2" class="form-control select2">
                                <option value="">--选择业态--</option>
                                <%{volist name="dept2_list" id="dept"}%>
                                    <option value="<%{$dept.id}%>"><%{$dept.name}%></option>
                                <%{/volist}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户姓名：</label>
                        <div class="col-sm-5"><input type="text" id="real_name" class="form-control" name="User[real_name]" placeholder="用户的姓名，建议填写真实姓名">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-5">
                            <input type="text" id="username" class="form-control" name="User[username]" placeholder="登录管理系统的用户名，字母、数字构成">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">登录密码：</label>
                        <div class="col-sm-5">
                            <input type="text" id="password" class="form-control" name="User[password]" placeholder="登录管理系统的密码，字母、数字构成，6至18位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号：</label>
                        <div class="col-sm-5">
                            <input type="text" id="phone" class="form-control" name="User[phone]" placeholder="用户的手机号，可选">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-5">
                            <input type="text" id="email" class="form-control" name="User[email]" placeholder="用户的邮箱，可选">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注信息：</label>
                        <div class="col-sm-5">
                            <textarea id="remark" rows=3 class="form-control" name="User[remark]" placeholder="备注信息，便于管理员识别，可选"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-5"><button type="submit" class="btn btn-success pull-right btn-submit">新增</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
