

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">公司或部门信息</h4>
            </div>
            <form action="<%{:url('department/create')}%>" class="form-horizontal" id="departmentAdd">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">上级部门：</label>
                        <div class="col-sm-5">
                            <select name="Dept[parent_id]" id="parent_id" class="form-control select2">
                                <option value="-1">--请选择上级部门--</option>
                                <option value="0">无上级部门『新建为顶级部门』</option>
                                <%{volist name="dept_list" id="dept"}%>
                                    <%{if condition="$dept.level lt 5"}%>
                                        <option value="<%{$dept.id}%>"><%{$dept.name_format1|raw}%></option>
                                    <%{/if}%>
                                <%{/volist}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门名称：</label>
                        <div class="col-sm-5">
                            <input type="text" id="name" class="form-control" name="Dept[name]" placeholder="公司名、业务部门名、团队名等">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门排序：</label>
                        <div class="col-sm-5">
                            <input type="number" id="sort" class="form-control" name="Dept[sort]" placeholder="自定部门层级内的排序，大于0的整数，数字越小越靠前">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注信息：</label>
                        <div class="col-sm-5">
                            <textarea id="remark" rows=3 class="form-control" name="Dept[remark]" placeholder="对该部门的备注信息"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-5"><button type="submit" class="btn btn-success pull-right btn-submit">新增</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
