<div class="row">
    <div class="col-md-12">

        <%{if condition="$can_create"}%>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <a href="javascript:;" data-href="<%{:url('manage/article_cat/create')}%>"  class="btn btn-primary" id="create"><i class="fa fa-plus"></i> 新增文章分类</a>
                        </div>
                    </div>
                </div>
            </div>
        <%{/if}%>

        <div class="box box-danger">
            <div class="box-body">
                <table class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%" id="table">
                    <thead>
                    <tr>
                        <th data-priority="2">分类名称</th>
                        <th data-priority="1" class="text-center">编号</th>
                        <th data-priority="3" class="text-center">图标</th>
                        <th data-priority="5" class="text-center">排序</th>
                        <th data-priority="10">创建时间</th>
                        <th data-priority="11">更新时间</th>
                        <th data-priority="12">备注</th>
                        <th data-priority="4" data-orderable="false">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%{volist name="list" id="item"}%>
                            <tr data-json='<%{:json_encode($item)}%>'>
                                <td><%{$item.name_format2|raw}%></td>
                                <td class="text-center"><%{$item.id}%></td>
                                <td class="text-center">
                                    <%{if condition="empty($item.icon)"}%>
                                    无
                                    <%{else/}%>
                                        <i class="<%{$item.icon}%>"></i>
                                    <%{/if}%>
                                </td>
                                <td class="text-center">
                                    <div class="layui-input-inline">
                                        <input type="text" class="list-sort-input" data-id="<%{$item.id}%>" value="<%{$item.sort}%>">
                                    </div>
                                </td>
                                <td><%{$item.create_time}%></td>
                                <td><%{$item.update_time}%></td>
                                <td><%{$item.remark}%></td>
                                <td>
                                    <%{if condition="$can_edit"}%>
                                        <a href="<%{:url('article_cat/edit')}%>" class="btn btn-xs btn-success edit"><i class="fa fa-pencil-square-o"></i> 编辑</a>
                                    <%{/if}%>
                                    <%{if condition="$can_delete"}%>
                                        <a href="<%{:url('article_cat/delete',['id' => $item.id])}%>" class="btn btn-xs btn-danger delete" data-id="<%{$item.id}%>"><i class="fa fa-trash-o"></i> 删除</a>
                                    <%{/if}%>
                                    <%{if condition="$can_create"}%>
                                        <%{if condition="$item.level lt 3"}%>
                                            <a href="<%{:url('article_cat/create')}%>?parent_id=<%{$item.id}%>" class="btn btn-xs btn-info create" data-id="<%{$item.id}%>"><i class="fa fa-plus"></i> 新建子分类</a>
                                        <%{/if}%>
                                    <%{/if}%>
                                </td>
                            </tr>
                        <%{/volist}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--新增编辑文章分类-->
<div class="modal fade" id="ArticleCatModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ArticleCatModalLabel">编辑分类</h4>
            </div>
            <div class="modal-body">
                <form action="<%{:url('article_cat/edit')}%>" data-edit="<%{:url('article_cat/edit')}%>" data-create="<%{:url('article_cat/create')}%>" class="form-horizontal" id="ArticleCatForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">上级分类 <span class="required">*</span></label>
                        <div class="col-sm-8">
                            <select name="ArticleCat[parent_id]" id="parent_id" class="form-control select2" style="width: 100%;">
                                <option value="-1">--请选择上级分类--</option>
                                <option value="0">『新建为顶级分类』（无上级分类）</option>
                                <%{volist name="list" id="cat"}%>
                                    <%{if condition="$cat.level lt 5"}%>
                                        <option value="<%{$cat.id}%>"><%{$cat.name_format1|raw}%></option>
                                    <%{/if}%>
                                <%{/volist}%>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" id="id" name="ArticleCat[id]" value="" disabled="disabled">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类名称 <span class="required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" id="name" class="form-control" name="ArticleCat[name]" placeholder="分类名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">图标样式 <span class="not-required">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" id="icon" class="form-control" name="ArticleCat[icon]" placeholder="自定义图标 fontawesome或自定义类名">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类排序 <span class="not-required">*</span></label>
                        <div class="col-sm-8">
                            <input type="number" id="sort" class="form-control" name="ArticleCat[sort]" placeholder="大于0的整数，数字越小本层级内越靠前">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注信息 <span class="not-required">*</span></label>
                        <div class="col-sm-8">
                            <textarea id="remark" rows=3 class="form-control" name="ArticleCat[remark]" placeholder="备注信息，管理员识别"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info btn-submit-edit">提交</button>
            </div>
        </div>
    </div>
</div>
