<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
            <form action="<%{:url('article/edit')}%>" class="form-horizontal" id="edit">
                <div class="box-header with-border">
                    <h4 class="box-title">编辑文章</h4>
                </div>
                <div class="box-body">
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-submit">提交保存</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>