<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">编辑文章</h4>
            </div>
            <form action="<%{:url('article/edit')}%>" class="form-horizontal" id="ArticleForm">
                <div class="box-body">
                    <div class="col-xs-10">

                        <input type="hidden" name="Article[id]" value="<%{$article.id}%>">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题 <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id="title" class="form-control" name="Article[title]" placeholder="填写文章标题，128字以内" value="<%{$article.title}%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <select name="Article[cat_id]" id="cat_id" class="form-control select2" style="width: 100%;">
                                    <option value="">--选择文章类型--</option>
                                    <%{volist name="article_cat" id="type"}%>
                                        <option value="<%{$type.id}%>"<%{if condition="$article.cat_id EQ $type.id"}%> selected="selected"<%{/if}%>><%{$type.name_format1|raw}%></option>
                                    <%{/volist}%>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <a href="<%{:url('article_cat/list')}%>" class="btn bg-purple pull-right">
                                    <i class="fa fa-send"></i>
                                    文章分类管理
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 摘要 <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <textarea id="excerpt" rows=3 class="form-control" name="Article[excerpt]" placeholder="文章内容摘要，140字以内"><%{$article.excerpt}%></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容 <span class="required">*</span></label>
                            <div class="col-sm-10">
                                <script id="content" name="Article[content]" style="width:100%;" type="text/plain"></script></div>
                        </div>

                        <div class="form-group">
                            <label for="cover_image_file" class="col-sm-2 control-label">封面 <span class="not-required">*</span></label>
                            <input type="hidden" name="Article[cover_id]" value="<%{$article.cover_id}%>" id="cover_image_id">
                            <div class="col-sm-10 cover-image-file-container">
                                <%{if condition="!empty($article.cover_id)"}%>
                                    <div id="cover_img" class="upload-preview">
                                        <img src="<%{$article.cover_path}%>">
                                    </div>
                                <%{/if}%>
                                <div class="upload-container">
                                    <span class="upload">
                                        <input type="file" name="cover_image_file" title="点击选择并裁剪文章封面图" id="cover_image_file">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Tag关键词 <span class="not-required">*</span></label>
                            <div class="col-sm-10">
                                <input type="hidden" name="Article[tags]" id="tags" value="<%{:implode('|', $article.tags)}%>">
                                <div id="tag_container">
                                    <%{volist name="article.tags" id="tag"}%>
                                        <span class="tag_item"><%{$tag}%> <i class="fa fa-trash"></i></span>
                                    <%{/volist}%>
                                </div>
                                <button type="button" class="btn btn-default add-tag-btn"><i class="fa fa-plus"></i> 新增关键词</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">首页 <span class="not-required">*</span></label>
                            <div class="col-sm-10">
                                <div class="js-switch-container">
                                    <input type="checkbox" id="is_home" name="Article[is_home]" title="是" data-on-text="是" data-off-text="否"<%{if condition="!empty($article.is_home)"}%> checked="checked"<%{/if}%>>
                                    <div class="js-switch-context">是否推荐到首页，选是则依据首页显示逻辑优先在首页显示</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">置顶 <span class="not-required">*</span></label>
                            <div class="col-sm-10">
                                <div class="js-switch-container">
                                    <input type="checkbox" id="is_top" name="Article[is_top]" title="是" data-on-text="是" data-off-text="否"<%{if condition="!empty($article.is_top)"}%> checked="checked"<%{/if}%>>
                                    <div class="js-switch-context">是否列表置顶，选是则列表置顶</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">隐藏 <span class="not-required">*</span></label>
                            <div class="col-sm-10">
                                <div class="js-switch-container">
                                    <input type="checkbox" id="enable" name="Article[enable]" title="是" data-on-text="是" data-off-text="否"<%{if condition="!empty($article.enable)"}%> checked="checked"<%{/if}%>>
                                    <div class="js-switch-context">是否前台隐藏不显示，选是则前台不显示该文章</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章属性 <span class="not-required">*</span></label>
                            <div class="col-sm-10 article-attr-container">
                                <div class="col-xs-2 article-attr">
                                    <input type="number" id="sort" class="form-control number-control" name="Article[sort]" placeholder="文章排序" data-toggle="tooltip" title="自定义文章排序，数字越小列表中越靠前" value="<%{$article.sort}%>">
                                </div>
                                <div class="col-xs-4 article-attr">
                                    <input type="text" id="author" class="form-control" name="Article[author]" placeholder="文章作者，前台显示" data-toggle="tooltip" title="自定义文章作者，前台文章详情显示，若此处留空则显示创建人姓名" value="<%{$article.author}%>">
                                </div>
                                <div class="col-xs-6 article-attr">
                                    <input type="text" id="source" class="form-control" name="Article[source]" placeholder="文章来源，文字或url" data-toggle="tooltip" title="自定义文章来源，文字或完整网址，留空则不显示，最多128字符" value="<%{$article.source}%>">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">自定义 <span class="not-required">*</span></label>
                            <div class="col-sm-10 article-attr-container">
                                <div class="col-xs-2 article-attr">
                                    <input type="number" id="click" class="form-control number-control" name="Article[click]" placeholder="阅读数" data-toggle="tooltip" title="自定义文章阅读数" value="<%{$article.click}%>">
                                </div>
                                <div class="col-xs-4 article-attr">
                                    <input type="text" id="show_time" class="form-control" name="Article[show_time]" placeholder="文章前台显示时间" data-toggle="tooltip" title="文章前台显示时间，留空则为当前时间" value="<%{$article.show_time}%>">
                                </div>
                                <div class="col-xs-6 article-attr">
                                    <input type="text" id="template" class="form-control" name="Article[template]" placeholder="自定义前台文章模板名称" data-toggle="tooltip" title="自定义前台文章模板名称，开发者高级特性，不清楚留空即可" value="<%{$article.template}%>">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注 <span class="not-required">*</span></label>
                            <div class="col-sm-10">
                                <textarea id="remark" rows=3 class="form-control" name="Article[remark]" placeholder="备注信息，便于管理员自己识别的备注"><%{$article.remark}%></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 text-center"><button type="submit" class="btn btn-success btn-submit">提交保存</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var article = <%{:json_encode($article)}%>;
</script>
