<div class="row">
    <div class="col-md-12">

        <%{if condition = "user_has_permission('manage/customer/create')"}%>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <a href="javascript:;" data-href="<%{:url('manage/customer/create')}%>"  class="btn btn-primary" id="create"><i class="fa fa-plus"></i> 新增网站会员</a>
                        </div>
                    </div>
                </div>
            </div>
        <%{/if}%>

        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="has-feedback">
                                    <input id="txt_search" type="text" class="form-control" placeholder="搜索用户名、真实姓名、昵称、手机号、邮箱、备注">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 pull-right">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default" id="adv_search_btn"><i class="fa fa-cog"></i> 高级查询</button>
                                    <button class="btn btn-default" id="refresh_table_btn" data-toggle="tooltip" title="点击刷新当前列表">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" id="table-columns" data-toggle="tooltip" title="点击筛选字段">
                                        <i class="glyphicon glyphicon-th icon-th"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%" id="table" data-order='[[ 1, "desc" ]]'>
                    <thead>
                    <tr>
                        <th data-priority="false" data-orderable="false">
                            <input type="checkbox" class="check_all" title="选中/反选全部">
                        </th>
                        <%{volist name="html" id="th"}%>
                            <%{$th|raw}%>
                        <%{/volist}%>
                        <th data-priority="20" data-orderable="false">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--新增|编辑modal-->
<div class="modal fade" id="SaveModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="SaveModalLabel">编辑网站会员</h4>
            </div>
            <div class="modal-body">
                <form data-edit="<%{:url('manage/customer/edit')}%>" data-create="<%{:url('manage/customer/create')}%>" class="form-horizontal" id="SaveModalForm">
                    <div class="box-body">

                        <input type="hidden" id="id" name="Customer[id]" >

                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="customer_name" class="form-control" name="Customer[customer_name]" placeholder="用户名，整站唯一">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="real_name" class="form-control" name="Customer[real_name]" placeholder="账号使用者的真实姓名，请务必填写真实姓名">
                            </div>
                        </div>

                        <div class="form-group" id="gender_container">
                            <label class="col-sm-3 control-label">性别 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <select name="Customer[gender]" id="gender" class="form-control select2" style="width: 100%;">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                    <option value="-1">未知</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">昵称 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="reveal_name" class="form-control" name="Customer[reveal_name]" placeholder="用于展示的名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="password" class="form-control" name="Customer[password]" placeholder="登录密码">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="mobile" class="form-control" name="Customer[mobile]" placeholder="手机号，设置则可用用作登录账号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="email" class="form-control" name="Customer[email]" placeholder="邮箱，设置则可用用作登录账号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">生日 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input readonly id="birthday" name="Customer[birthday]" type="text" class="form-control" placeholder="会员出生年月日">
                                    <div class="input-group-addon clear-end-data" style="cursor: pointer;">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证号 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="id_card" class="form-control" name="Customer[id_card]" placeholder="身份证号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">归属地 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <div id="distpicker" data-toggle="data-toggle">
                                    <select class="form-control select2" style="width:100%" id="province" name="Customer[province]"></select>
                                    <select class="form-control select2" style="width:100%" name="Customer[city]" id="city"></select>
                                    <select class="form-control select2" style="width:100%" name="Customer[district]" id="district"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">地址 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="location" class="form-control" name="Customer[location]" placeholder="归属省市县之外详细的地址">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">工作单位 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="job_organization" class="form-control" name="Customer[job_organization]" placeholder="工作单位名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">工作电话 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="job_number" class="form-control" name="Customer[job_number]" placeholder="工作单位联系电话">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">工作地址 <span class="not-required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="job_location" class="form-control" name="Customer[job_location]" placeholder="工作单位详细地址">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <div class="js-switch-container">
                                    <input type="checkbox" id="enable" name="Customer[enable]" title="是" data-on-text="是" data-off-text="否" checked="checked">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息 </label>
                            <div class="col-sm-7">
                                <textarea id="remark" rows=3 class="form-control" name="Customer[remark]" placeholder="备注信息，便于管理员识别，可留空"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                        <div class="col-xs-6 text-left edit_sub">
                            <button type="button" class="btn btn-info btn-edit-submit">提交</button>
                        </div>
                        <div class="col-xs-6 text-left create_sub">
                            <button type="button" class="btn btn-info btn-create-submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--高级查询modal Begin-->
<div class="modal fade" id="SearchModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="SearchModelLabel">高级查询</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal" id="SearchForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会员状态</label>
                        <div class="col-sm-8">
                            <select name="adv_enable" id="adv_enable" class="form-control select2" style="width: 100%;">
                                <option value="">--选择状态--</option>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">会员性别</label>
                        <div class="col-sm-8">
                            <select name="adv_gender" id="adv_gender" class="form-control select2" style="width: 100%;">
                                <option value="">--选择性别--</option>
                                <option value="-1">未知</option>
                                <option value="0">女</option>
                                <option value="1">男</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">有效积分</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_effect_begin" type="number" class="form-control" placeholder="有效积分开始值">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_effect_end" type="number" class="form-control" placeholder="有效积分结束值">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">冻结积分</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_freeze_begin" type="number" class="form-control" placeholder="冻结积分开始值">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_freeze_end" type="number" class="form-control" placeholder="冻结积分结束值">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">等级积分</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_level_begin" type="number" class="form-control" placeholder="等级积分开始值">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-cny"></i>
                                </div>
                                <input  id="points_level_end" type="number" class="form-control" placeholder="等级积分结束值">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">归属地</label>
                        <div class="col-sm-8">
                            <div id="select_distpicker" data-toggle="data-toggle">
                                <select class="form-control select2" style="width:100%" name="" id="select_province"></select>
                                <select class="form-control select2" style="width:100%" name="" id="select_city"></select>
                                <select class="form-control select2" style="width:100%" name="" id="select_district"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">会员生日</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="birthday_begin" type="text" class="form-control search_date" placeholder="选择起始日期">
                                <div class="input-group-addon clear-begin-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="birthday_end" type="text" class="form-control search_date" placeholder="选择结束日期">
                                <div class="input-group-addon clear-end-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">注册时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="search_begin_date" type="text" class="form-control search_date" placeholder="注册时间开始">
                                <div class="input-group-addon clear-begin-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="search_end_date" data-key="search_end_date" type="text" class="form-control pull-right search_date" placeholder="注册时间结束">
                                <div class="input-group-addon clear-end-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-default" id="exec_reset">重置</button>
                        </div>
                        <div class="col-xs-6 text-left">
                            <button type="button" class="btn btn-info" id="exec_search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--高级查询结束-->

<script>
    var js_columns = <%{:json_encode($js, JSON_UNESCAPED_UNICODE)}%>;
    var has_edit_permission = <%{:user_has_permission('manage/customer/edit') ? 'true' : 'false'}%>;
    var has_adjustment_permission = <%{:user_has_permission('manage/customer/adjustment') ? 'true' : 'false'}%>;
    var has_allocation_permission = <%{:user_has_permission('manage/customer/allocation') ? 'true' : 'false'}%>;
    var has_detail_permission = <%{:user_has_permission('manage/customer/detail') ? 'true' : 'false'}%>;
    var has_enable_permission = <%{:user_has_permission('manage/customer/enable') ? 'true' : 'false'}%>;
</script>
