
<form action="<%{:url('role/create')}%>" class="form-horizontal" id="roleAdd">
<div class="row">
    <div class="col-md-12">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h4 class="box-title">1、角色基本信息</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色名称：</label>
                    <div class="col-sm-5"><input type="text" id="name" class="form-control" name="Role[name]" placeholder="角色名称，名称唯一，例如：仓库管理员">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">角色排序：</label>
                    <div class="col-sm-5">
                        <input type="number" id="sort" class="form-control" name="Role[sort]" placeholder="列表排序，大于0的整数，数字越小越靠前">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注信息：</label>
                    <div class="col-sm-5">
                        <textarea id="remark" rows=3 class="form-control" name="Role[remark]" placeholder="角色备注信息，便于识别，可选"></textarea>
                    </div>
                </div>
                <hr>
                <h4 class="box-title">2、选择角色菜单</h4>
                <div id="menu_tree" class="ztree"></div>
                <hr>
                <h4 class="box-title">3、设置角色所属每一个菜单的权限级别</h4>
                <div id="permissions">

                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-success pull-right btn-submit">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script>
var menu = <%{:json_encode($menu_list)}%>;
</script>