
<form action="<%{:url('role/edit')}%>" class="form-horizontal" id="roleEdit">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h4 class="box-title">1、角色基本信息</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称：</label>
                        <div class="col-sm-5"><input type="text" id="name" class="form-control" name="Role[name]" placeholder="角色名称，名称唯一，例如：仓库管理员" value="<%{$role.name}%>">
                        </div>
                    </div>
                    <input type="hidden" name="id" id="role_id" value="<%{$role.id}%>">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色排序：</label>
                        <div class="col-sm-5">
                            <input type="number" id="sort" class="form-control" name="Role[sort]" placeholder="列表排序，大于0的整数，数字越小越靠前" value="<%{$role.sort}%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注信息：</label>
                        <div class="col-sm-5">
                            <textarea id="remark" rows=3 class="form-control" name="Role[remark]" placeholder="角色备注信息，便于识别，可选"><%{$role.remark}%></textarea>
                        </div>
                    </div>
                    <hr>
                    <h4 class="box-title">2、选择角色菜单和数据权限范围</h4>
                    <div class="box-body text-aqua">
                        灰色不可选菜单表示必选菜单并且无数据权限之分，系统默认选择；带*号二级菜单与该二级菜单下第一个三级菜单本质是一个菜单
                    </div>
                    <div id="menu_tree" class="ztree"></div>
                    <h4 class="box-title">3、选择角色菜单可操作字段</h4>
                    <div class="box-body column_box">
                        <!--角色菜单勾选后该菜单继续选择可操作的字段容器-->
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-success btn-submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var menu = <%{:json_encode($menu_list)}%>;
    var role_menu = <%{:json_encode($role_menu)}%>;
    var columns = <%{:json_encode($show_columns)}%>;
</script>