<div class="row">
    <div class="col-md-12">

        <%{if condition = "user_has_permission('manage/role/create')"}%>
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <a href="<%{:url('manage/role/create')}%>" class="btn btn-primary"><i class="fa fa-plus"></i> 新增角色</a>
                    </div>
                </div>
            </div>
        </div>
        <%{/if}%>

        <div class="box box-danger">
            <div class="box-body">
                <table id="role_table" class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-priority="1">角色</th>
                        <th data-priority="4">备注</th>
                        <th data-priority="5">创建时间</th>
                        <th data-priority="6">排序</th>
                        <th data-priority="2" style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                        <%{volist name="list" id="item"}%>
                        <tr>
                            <td><%{$item.name}%></td>
                            <td><%{$item.remark}%></td>
                            <td><%{$item.create_time}%></td>
                            <td>
                                <div class="layui-input-inline">
                                    <input type="text" class="list-sort-input" data-id="<%{$item.id}%>" value="<%{$item.sort}%>">
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <a href="<%{:url('role/edit')}%>?id=<%{$item.id}%>" class="btn btn-xs btn-primary"><i class="fa fa-pencil-square-o"></i> 编辑</a>
                                <a href="javascript:;" data-href="<%{:url('role/delete')}%>?id=<%{$item.id}%>" class="btn btn-xs btn-danger delete" data-id="<%{$item.id}%>"><i class="fa fa-trash-o"></i> 删除</a>
                            </td>
                        </tr>
                        <%{/volist}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
