
/*开关触发的填写区域默认隐藏*/
#use_cover_setting,#use_template_setting,#use_content_options,#text_setting,#image_setting {
    display: none;
}

/*模板下拉选项增减容器*/
#template_options {
    list-style: none;
    padding: 0;
    margin: 0;
}
.template_options {
    position: relative;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: #fafaf4;
}
.template_options .col-xs-5 {
    padding-right: 0;
    padding-left: 0;
}
.template_options .input-group-addon {
    background-color: #eee;
}
/*删除、移动排序模板待选按钮*/
.template_options_manage {
    z-index: 9999;
    position: absolute;
    right: 10px;
    top: 7px;
}
.template_options_manage .fa-trash {
    display: inline-block;
    cursor: pointer;
    margin-right:5px;
    color:#e26969;
}
.template_options_manage .fa-arrows-alt {
    display: inline-block;
    cursor: move;
    margin-left:5px;
    color:#2c9a22;
}
/*模板待选项拖动样式*/
.template_sortable,.template_sortable input,.template_sortable .input-group-addon {
    background-color: #fef5ba !important;
}
/*新增模板待选项按钮*/
.template_group_btn {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

/*正文区块*/
#content_options {
    list-style: none;
    padding: 0;
    margin: 0;
}
#content_options li {
    padding: 6px 12px 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
}
.content_options {
    position: relative;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: #fafaf4;
}
.content_options_section {
    padding:0 5px;
}
.view_section {
    position: relative;
    padding: 10px 35px 10px 100px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: justify;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-bottom: 1px dashed #eee;
}
.view_section:last-child {border:none;}
.view_section span {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    margin-left: -100px;
    color:#aaa;
    font-size:13px;
}
.view_id {}
.view_name {}
.view_type {}
.view_length {}
.view_width {}
.view_height {}

/*删除、移动排序正文区块按钮*/
.content_options_manage {
    z-index: 9999;
    position: absolute;
    right: 15px;
    top: 13px;
}
.content_options_manage .fa-trash {
    display: inline-block;
    cursor: pointer;
    margin-right:5px;
    color:#e26969;
}
.content_options_manage .fa-arrows-alt {
    display: inline-block;
    cursor: move;
    margin-left:5px;
    color:#2c9a22;
}
