<div class="row">
    <div class="col-md-12">

        <%{if condition = "user_has_permission('manage/__CONTROLLER_UNDER_SCORE__/create')"}%>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <a href="javascript:;" data-href="<%{:url('manage/__CONTROLLER_UNDER_SCORE__/create')}%>"  class="btn btn-primary" id="create"><i class="fa fa-plus"></i> 新增__LIST_NAME__</a>
                        </div>
                    </div>
                </div>
            </div>
        <%{/if}%>

        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="has-feedback">
                                    <input id="txt_search" type="text" class="form-control" placeholder="搜索__LIST_NAME__">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">

                            </div>
                            <div class="col-xs-12 col-sm-3">

                            </div>
                            <div class="col-xs-12 col-sm-3 pull-right">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default" id="adv_search_btn"><i class="fa fa-cog"></i> 高级查询</button>
                                    <button class="btn btn-default" id="refresh_table_btn" data-toggle="tooltip" title="点击刷新当前列表">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" id="table-columns" data-toggle="tooltip" title="点击筛选字段">
                                        <i class="glyphicon glyphicon-th icon-th"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%" id="table" data-order='[[ 1, "desc" ]]'>
                    <thead>
                    <tr>
                        <th data-priority="false" data-orderable="false">
                            <input type="checkbox" class="check_all" title="选中/反选全部">
                        </th>
                        <th data-priority="1">ID</th>

                        <th data-priority="20" data-orderable="false">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--新增|编辑modal-->
<div class="modal fade" id="SaveModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="SaveModalLabel">编辑__LIST_NAME__</h4>
            </div>
            <div class="modal-body">
                <form data-edit="<%{:url('manage/__CONTROLLER_UNDER_SCORE__/edit')}%>" data-create="<%{:url('manage/__CONTROLLER_UNDER_SCORE__/create')}%>" class="form-horizontal" id="SaveModalForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="real_name" class="form-control" name="Member[real_name]" placeholder="账号使用者的真实姓名，请务必填写真实姓名">
                            </div>
                        </div>

                        <input type="hidden" id="id" name="Member[id]" >

                        <div class="form-group" id="gender_container">
                            <label class="col-sm-3 control-label">性别 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <select name="Member[gender]" id="gender" class="form-control select2" style="width: 100%;">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                    <option value="-1">未知</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用 <span class="required">*</span></label>
                            <div class="col-sm-7">
                                <div class="js-switch-container">
                                    <input type="checkbox" id="enable" name="Member[enable]" title="是" data-on-text="是" data-off-text="否" checked="checked">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息 </label>
                            <div class="col-sm-7">
                                <textarea id="remark" rows=3 class="form-control" name="Member[remark]" placeholder="备注信息，便于管理员识别，可留空"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                        <div class="col-xs-6 text-left edit_sub">
                            <button type="button" class="btn btn-info btn-edit-submit">提交</button>
                        </div>
                        <div class="col-xs-6 text-left create_sub">
                            <button type="button" class="btn btn-info btn-create-submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--高级查询modal Begin-->
<div class="modal fade" id="SearchModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="SearchModelLabel">高级查询</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form-horizontal" id="SearchForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">__LIST_NAME__状态</label>
                        <div class="col-sm-8">
                            <select name="adv_enable" id="adv_enable" class="form-control select2" style="width: 100%;">
                                <option value="">--选择xx状态--</option>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">xx时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="search_begin_date" type="text" class="form-control search_date" placeholder="创建时间开始">
                                <div class="input-group-addon clear-begin-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input readonly id="search_end_date" type="text" class="form-control search_date" placeholder="创建时间结束">
                                <div class="input-group-addon clear-end-data" style="cursor: pointer;">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">text</label>
                        <div class="col-sm-8">
                            <input id="text" type="text" class="form-control" placeholder="text">
                        </div>
                    </div>

                </form>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-default" id="exec_reset">重置</button>
                        </div>
                        <div class="col-xs-6 text-left">
                            <button type="button" class="btn btn-info" id="exec_search">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--高级查询结束-->

<script>
    var has_edit_permission = <%{:user_has_permission('manage/__CONTROLLER_UNDER_SCORE__/edit') ? 'true' : 'false'}%>;
</script>
