
<div class="row">
    <!--开关组件开始-->
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title"><b>开关组件</b></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <h3>效果示例：</h3>
                <div class="col-sm-12 sample-container">
                    <div class="js-switch-container">
                        <input type="checkbox" id="is_root" name="User[is_root]" data-on-text="是" data-off-text="否">
                        <div class="js-switch-context">开关功能简要说明，不宜过长</div>
                    </div>
                </div>
                <h3>html代码：</h3>
                <pre class="prettyprint lang-html linenums">&lt;div class="js-switch-container"&gt;
    &lt;input type="checkbox" id="is_root" name="User[is_root]" data-on-text="是" data-off-text="否"&gt;
    &lt;div class="js-switch-context"&gt;开关功能简要说明，不宜过长&lt;/div&gt;
&lt;/div&gt;</pre>
                <h3>使用说明：</h3>
                <p>1、默认选中<code>checkbox</code>标签添加<code>checked="checked"</code></p>
                <p>2、禁用<code>checkbox</code>标签添加<code>disabled="disabled"</code></p>
                <p>3、获取选中状态js代码<code>$("#is_root").prop("checked")</code>，返回bool值</p>
                <p>4、绑定事件js代码</p>
                <div class="col-sm-12">
                <pre class="prettyprint lang-js linenums">$("#is_root").on("switchChange.bootstrapSwitch",function (e,isCheck) {
        if (isCheck) {
            // 选中被触发
        } else {
            // 取消选中被触发
        }
});</pre>
                </div>
                <h3>后端说明：</h3>
                <p>开关组件按钮被选中，<code>serializeArray</code>方法提交后，后端获取到的数据是以checkbox的<code>name</code>为键，值为<code>on</code>，若是数组形式的name则是数组；若未选中则没有该键名的参数。</p>

            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
    <!--开关组件结束-->

    <!--图片裁剪组价开始-->
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title"><b>图片裁剪组件</b></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <h3>效果示例：</h3>
                <div class="col-sm-12 sample-container">
                    <div class="upload-container">
                        <span class="upload">
                            <input type="file" name="staff_figure" title="点此选择图片并裁剪上传" id="cut_upload">
                        </span>
                    </div>
                </div>
                <h3>html代码：</h3>
                <pre class="prettyprint lang-js linenums">&lt;div class="upload-container"&gt;
    &lt;span class="upload"&gt;
        &lt;input type="file" name="staff_figure" title="点此选择图片并裁剪上传" id="cut_upload"&gt;
    &lt;/span&gt;
&lt;/div&gt;</pre>
                <h3>js代码：</h3>
                <div class="cols-sm-12">
<pre class="prettyprint lang-js linenums">//上传销项裁剪插件
utils.bindCutImageUploader("cut_upload",{
    // url:"4/3",// 可以单独设置后端接收上传的图片和额外参数的url，默认系统提供的附件资源管理器自动处理
    rate:"4/3",// 设置裁剪图的比例
    title:"图片裁剪demo", // 设置裁剪浮层的标题
    width:400,//指定裁剪后图片宽度
    height:300,//指定裁剪后图片高度
    extraData:{'file_type':'image','is_safe':1},//额外塞入上传的post数据体重的filed-value对象数组
    success:function (data) {
        if(data["error_code"] == 0)
        {
            console.log(data); // data为服务器处理上传文件成功后返回的json对象，接收数据进行后续业务
        }else{
            utils.alert(data.error_msg ? data.error_msg : "未知错误");
        }
    },//裁剪并上传成功后的回调函数，data参数为服务器返回的json对象
    error:function () {
        utils.alert("网络或服务器异常，文件上传失败！");
    }//裁剪或上传失败的回调函数
});</pre>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
    <!--图片裁剪组价结束-->

    <!--进度条文件上传组件开始-->
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title"><b>文件上传组件</b></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <h3>效果示例：</h3>
                <div class="col-sm-12 sample-container">
                    <div class="upload-container">
                        <span class="upload">
                            <input type="file" name="staff_figure" title="点此选择图片并裁剪上传" id="file_upload">
                        </span>
                    </div>
                </div>
                <h3>html代码：</h3>
                <pre class="prettyprint lang-js linenums">&lt;div class="upload-container"&gt;
    &lt;span class="upload"&gt;
        &lt;input type="file" name="staff_figure" title="点此选择图片并裁剪上传" id="cut_upload"&gt;
    &lt;/span&gt;
&lt;/div&gt;</pre>
                <h3>js代码：</h3>
                <div class="cols-sm-12">
<pre class="prettyprint lang-js linenums">// 带上传进度条的文件上传
utils.bindAjaxUploader("file_upload",{
    // url:'',//上传文件后端Url，留空则为/manage/upload/upload?origin=ajax
    allow_extension: null,//null不限制、需限制时使用数组 ['jpg','jpeg']
    extraData: {'is_safe':0}, //上传额外附带的key-value
    multiple:true,//是否允许选择多个文件，默认允许多个
    success:function (data) {
        if(data["error_code"] == 0)
        {
            utils.alert(data.data.file_path);
            console.log(data);
        }else{
            utils.alert(data.error_msg ? data.error_msg : "未知错误");
        }
    },//上传成功的回调函数
    error:function () {
        utils.alert("网络或服务器异常，文件上传失败！");
    }//上传失败的回调函数
});</pre>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
    <!--进度条文件上传组件结束-->

</div>
<script src="__PUBLIC__/plugin/code/prettify.js" type="text/javascript"></script>
