
<div class="row">

    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title"><b>清理缓存</b></h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-xs-12 text-center clear_cache">
                    <button type="button" class="btn btn-danger" id="clear_runtime">
                        <i class="fa fa-trash"></i> 清理runtime
                    </button>
                </div>

                <div class="col-xs-12 text-center clear_cache">
                    <button type="button" class="btn btn-primary" id="clear_cache">
                        <i class="fa fa-trash"></i> 清理全部缓存
                    </button>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>

</div>
