<div class="row">
    <div class="col-md-12">

        <%{if condition="user_has_permission('manage/menu/create') OR user_has_permission('manage/menu/reorganize')"}%>
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <%{if condition="user_has_permission('manage/menu/create')"}%>
                        <div class="btn-group">
                            <a href="<%{:url('manage/menu/create')}%>" class="btn btn-primary"><i class="fa fa-plus"></i> 新增菜单</a>
                        </div>
                        <%{/if}%>
                        <%{if condition="user_has_permission('manage/menu/reorganize')"}%>
                        <div class="btn-group">
                            <a href="<%{:url('manage/menu/reorganize')}%>" class="btn btn-danger" id="reorganize"><i class="fa fa-cogs"></i> 重整菜单</a>
                        </div>
                        <%{/if}%>
                    </div>
                </div>
            </div>
        </div>
        <%{/if}%>

        <div class="box box-danger">
            <div class="box-body">
                <table class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%" id="menu_table" data-orderable="false">
                    <thead>
                    <tr>
                        <th data-priority="1">名称</th>
                        <th data-priority="5">标签</th>
                        <th data-priority="6">Url</th>
                        <th data-priority="7" style="text-align: center;">图标</th>
                        <th data-priority="8">备注</th>
                        <th data-priority="3">排序</th>
                        <th data-priority="2" style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <%{volist name="list" id="item"}%>
                    <tr>
                        <td><%{$item.name|raw}%></td>
                        <td><%{$item.tag}%></td>
                        <td><%{$item.url}%></td>
                        <td style="text-align: center;">
                            <%{if condition="empty($item.icon)"}%>
                                无
                            <%{else/}%>
                                <i class="<%{$item.icon}%>"></i>
                            <%{/if}%>
                        </td>
                        <td><%{$item.remark}%></td>
                        <td>
                            <div class="layui-input-inline">
                                <input type="text" class="list-sort-input" data-id="<%{$item.id}%>" value="<%{$item.sort}%>">
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="<%{:url('menu/edit',['id' => $item.id])}%>" class="btn btn-xs btn-success"><i class="fa fa-pencil-square-o"></i> 编辑</a>
                            <%{if condition="empty($item.is_system)"}%>
                                <a href="javascript:;" data-href="<%{:url('menu/delete',['id' => $item.id])}%>" class="btn btn-xs btn-danger delete" data-id="<%{$item.id}%>"><i class="fa fa-trash-o"></i> 删除</a>
                            <%{/if}%>
                        </td>
                    </tr>
                    <%{/volist}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
