<div class="row">
    <div class="col-md-12">

        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="has-feedback">
                            <input id="txt_search" type="text" class="form-control" placeholder="搜索用户名、用户姓名、手机号、部门、备注">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="btn-group" id="user_container">
                                    <button type="button" class="btn btn-primary active">账号状态</button>
                                    <button type="button" class="btn btn-default" data-status="1">启用</button>
                                    <button type="button" class="btn btn-default" data-status="0">禁用</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="btn-group pull-right">
                            <a href="<%{:url('user/create')}%>" class="btn btn-success"><i class="fa fa-plus"></i> 新增用户</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-primary">
            <!--<div class="box-header with-border">-->
            <!--<h4 class="box-title">部门列表</h4>-->
            <!--</div>-->
            <div class="box-body">
                <table id="mainTable" data-order='[[ 6, "asc" ]]' class="table table-bordered table-striped table-hover display responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-priority="1">用户名</th>
                        <th data-priority="3">姓名</th>
                        <th data-priority="4">手机号</th>
                        <th data-priority="5" data-orderable="false">部门</th>
                        <th data-priority="6" data-orderable="false">设备额度</th>
                        <th data-priority="7" data-orderable="false">角色</th>
                        <th data-priority="8">创建时间</th>
                        <th data-priority="9">状态</th>
                        <th data-priority="2" data-orderable="false">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <!--<div class="box-footer">-->

            <!--</div>-->
        </div>
    </div>
</div>