

<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <!--common.js初始化该select以及处理选中事件-->
                                <select name="default_dept2" id="default_dept2" class="form-control select2">
                                    <option value="">--所有业态--</option>
                                    <%{volist name="Dept2" id="_dpt2"}%>
                                    <%{if condition="session('default_dept1.dept_id') == $_dpt2.parent_id"}%>
                                    <option value="<%{$_dpt2.dept_id}%>"<%{if condition="session('default_dept2.dept_id') == $_dpt2.dept_id"}%> selected="selected"<%{/if}%>><%{$_dpt2.dept_name}%></option>
                                    <%{/if}%>
                                    <%{/volist}%>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-offset-6 col-sm-3">
                                <div class="btn-group pull-right">
                                    <a href="<%{:url('message/list')}%>" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left"></i> 返回话术列表</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">新增话术</h4>
            </div>
            <form action="<%{:url('message/create')}%>" class="form-horizontal" id="messageAdd">
                <div class="box-body">

                    <div class="form-group" id="level2_container">
                        <label class="col-sm-3 control-label">话术类型：</label>
                        <div class="col-sm-5">
                            <select name="Message[message_type]" id="message_type" class="form-control select2">
                                <option value="pengyouquan">朋友圈内容</option>
                                <option value="jiahaoyou">加好友问候语</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">话术内容：</label>
                        <div class="col-sm-5">
                            <textarea id="message" rows=3 class="form-control" name="Message[message]" placeholder="话术内容，依据话术类型酌情控制内容长度，加好友的话术中需要使用昵称时，请使用带大括号的模板变量：{NICK}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注信息：</label>
                        <div class="col-sm-5">
                            <textarea id="remark" rows=3 class="form-control" name="Message[remark]" placeholder="可用于快速检索，例如某一批加好友的话术所有备注均可相同，建立加好友任务时输入该备注即可快速查找该批话术列表"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-5"><button type="submit" class="btn btn-success pull-right btn-submit">新增</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
